/* Silahkan Tuliskan CSS disini */
.form-demo {
    background-color: #367EE5;
    display: block;
    float: left;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.form-demo .form-input {
    float: left;
}

.form-demo .form-input h3 {
    margin-bottom: 25px;
}

.form-demo .form-input .input {
    margin-bottom: 10px;
    height: 30px;
    font-size: 28px;
    border-radius: 5px;
    border: 1px solid #fff
}

.form-demo .form-input .submit {
    border-color: white;
    color: white;
    background-color: #367EE5;
    border: 2px solid #fff
}

.form-demo .form-input .submit:hover {
    cursor: pointer;
    background-color: #97b7e4;
}

.form-demo .form-input label {
    float: left;
    width: 50%;
    font-size: 16px;
    margin-bottom: 10px;
}

.form-demo .form-image {
    float: right;
    background-color: white;
    text-align-last: center;
}


/*-----    Desktop   -----*/
@media (min-width: 768px) {
    .form-demo {
        width: 100%;
    }

    .form-demo .form-input {
        float: left;
        width: 40%;
        padding: 25px;
        margin-top: 50px;
        margin-left: 50px;
    }

    .form-demo .form-input .input {
        width: 75%;
        margin-bottom: 10px;
        height: 30px;
        font-size: 28px;
        border-radius: 5px;

    }

    .form-demo .form-input .submit {
        width: 75%;
        margin-top: 10px;
        height: 50px;
        font-size: 20px;
        border-radius: 5px;
    }

    .form-demo .form-image {
        width: 40%;
        float: right;
        padding: 25px;
        margin: 75px 50px 50px 0px;
        background-color: white;
        border-radius: 50px;
    }
}

/*-----    Mobile   -----*/
@media (max-width: 768px) {
    .form-demo {
        width: 100%;
    }

    .form-demo .form-input {
        float: left;
        width: 100%;
        box-sizing: border-box;
        padding: 15px;
        margin-top: 20px;
        margin-left: 0px;
    }

    .form-demo .form-input .input {
        margin-bottom: 10px;
        width: 97%;
        margin-left: 0px;
        height: 30px;
        border-radius: 5px;
    }

    .form-demo .form-input .submit {
        width: 97%;
        margin-top: 10px;
        height: 50px;
        font-size: 20px;
        border-radius: 5px;
    }

    .form-demo .form-input .submit:hover {
        cursor: pointer;
        background-color: #97b7e4;
    }

    .form-demo .form-image {
        display: none;
    }


}