/* Silahkan Tuliskan CSS disini */
/* Header */
/* header{
    overflow: hidden;
}

.logo {
    float: left;
    padding: none;
    margin: none;
    height: 60px;
    width: 30%;
}

.logo img{
    width: 60%;
    float: left;
    padding: 10px 0px;
} */


nav {
    width: 100%;
    background-color: #054268;
    display: flex;
    justify-content: center;
}

nav .container {
    max-width: 1100px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav .navbar-left {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav .navbar-left ul {
    margin-left: 24px;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: row;
    list-style-type: none;
    gap: 16px;
}

nav .navbar-left ul li a {
    text-decoration: none;
    display: inline-block;
    padding: auto;
    color: white;
}


nav .navbar-brand img {
    width: 100px;
}

nav .navbar-right ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    padding: 20px 0;
}

nav .navbar-right ul li a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding: 4px 16px;
    font-size: 16px;
    font-weight: 500;
}

nav .navbar-right ul li a.active {
    background-color: white;
    color: #054268;
    border-radius: 8px;
}

nav .navbar-mobile {
    display: none;
}

nav .navbar-right .navbar-toggle {
    display: none;
}



/* Footer */
footer {
    background-color: #054268;
    color: white;
    justify-content: flex-start;
    font-size: 18px;
}

footer .row-primary {
    display: flex;
    justify-content: center;
    padding: 32px;
}

footer .column-link {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 2em;
    min-height: 15em;
}

footer .column-link .column-menu h3 {
    width: 100%;
    text-align: left;
    color: white;
    font-size: 24px;
    white-space: nowrap;
    margin-bottom: 23px;
}

footer .form-image {
    height: 40px;
    width: 200px;
}

footer .form-image img {
    max-width: 100%;
    height: auto;
}

footer ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

footer li:not(:first-child) {
    margin-top: 0.8em;
}

footer ul li a {
    color: #a7a7a7;
    text-decoration: none;
}

footer ul li a:hover {
    color: white;
}

.row-copyright {
    display: flex;
    justify-content: center;
    padding: 16px;
}



/*-----    Desktop   -----*/
@media (min-width: 768px) {}

/*-----    Mobile   -----*/
@media (max-width: 768px) {
    nav .container {
        width: 100%;
        margin-right: 16px;
        margin-left: 16px;
    }

    nav .navbar-left ul {
        display: none;
    }

    nav .navbar-left {
        justify-content: start;
        padding: 4px;
    }

    nav .navbar-brand {
        display: flex;
        align-items: center;
    }

    nav .navbar-brand img {
        width: 80px;
    }

    nav .navbar-right {
        position: relative;
    }

    nav .navbar-right ul {
        display: none;
    }

    nav .navbar-right .navbar-toggle {
        display: block;
        color: white;
        font-size: 20px;
        cursor: pointer;
        padding: 8px;
    }

    nav .navbar-mobile.show {
        display: block;
    }

    nav .navbar-mobile {
        display: none;
        background-color: white;
        position: absolute;
        z-index: 100;
        top: 44px;
        right: 10px;
        border-radius: 8px;
        min-width: 150px;
    }

    nav .navbar-mobile ul {
        list-style-type: none;
        padding: 8px 0;
    }

    nav .navbar-mobile ul li a {
        text-decoration: none;
        font-size: 12px;
        font-weight: bold;
        display: block;
        padding: 8px 16px;
        color: rgb(75, 75, 75);
    }

    nav .navbar-mobile ul li a:hover {
        background-color: rgb(225, 225, 225);
    }

    nav .navbar-mobile ul li.divider {
        height: 1px;
        background-color: #ddd;
        margin: 4px;
    }

    footer .row-primary {
        flex-direction: column;
    }

    footer .column-link {
        padding: 0;
        min-height: auto;
        margin-bottom: 16px;
    }

    footer .form-image {
        height: auto;
        width: max-content;
        margin: auto;
    }

    footer .form-image img {
        height: 72px;
    }

    footer h3 {
        font-size: 16px !important;
    }

    footer ul li a {
        font-size: 12px;
    }

    footer li {
        margin: 0 !important
    }

    footer .row-primary {
        padding-bottom: 0;
    }

    footer .row-copyright {
        padding-top: 0;
        margin-top: -4px;
        font-size: 12px;
        color: #cfcfcf;
    }
}